{% extends "base.html" %}



{% block content %}
<table class="table">
    <tr>
        <th>Kiedy</th>
        <td>{{ training.date }} - {{ training.time }}</td>
    </tr>
    <tr>
        <th>Gdzie</th>
        <td>{{ training.city }} - {{ training.street }} - {{ training.number }}</td>
    </tr>
    <tr>
        <th>Dystans i tempo</th>
        <td>{{ training.distance }} - {{ training.get_pace_display }}</td>
    </tr>
    <tr>
        <th>Szczegóły</th>
        <td>{{ training.description }}</td>
    </tr>
    <tr>
        <th>Dodano</th>
        <td>{{ training.added_date }} przez: {{ training.author }}</td>
    </tr>
    <tr>

</table>
<hr>

<a class="btn btn-primary" href="{% url 'add_comment_to_training' training_id=training_id %}" >Dodaj komentarz</a>
{% for comment in training.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>

    </div>
{% empty %}
    <p>Nie ma tu jeszcze żadnych komentarzy - bądź  pierwszy! :)</p>
{% endfor %}
<a href="{% url 'training-details' training_id=training_id %}">Liczba komentarzy: {{ training.comments.count }}</a>

{% endblock %}

