{% extends "../base.html" %}



{% block add_comment %}

<a href=""></a><button></button></a>
<!--<form action="/">-->
    <!--<label for="comment"><textarea name="comment" id="comment" cols="30" rows="5"></textarea></label>-->
    <!--<button class="btn btn-primary" type="submit">Dodaj</button>-->
<!--</form>-->
    <!--<form action="/" method="post">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<button class="btn btn-primary" type="submit">Dodaj</button>-->
    <!--</form>-->

{% endblock %}